<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="/src/main/resources/Home.css">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./NavBar.css">
    <link rel="stylesheet" href="./slideshow.css">
    <title>614Adventures</title>
</head>
<body>
<div class="logo">
    <div class="container-logo">
        <img src="./Images/Inverted Columbus Skyline Logo with Name.png" alt="logo"/>
    </div>
    <div class="line"></div>
</div>
<div class="mainblock">
    <div class="navBar">
        <div class="dropdown">
            <ul>
                <li>
                    <button onclick="location.href='Home.html'" type="button" class="dropbtn"><u>Home</u></button>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <ul>
                <button onclick="location.href='types-of-dates.html'" type="button" class="dropbtn">Activities</button>
                <li th:each="activity: ${activities}"  class= "dropdown-content">
                    <a th:text="${activity.name}"
                    th:href="@{'/activities/' + ${activity.name}}">Activity Name</a></li>
            </ul>
        </div>
    <div class="dropdown">
        <button onclick="location.href='hashtags.html'" type="button" class="dropbtn">Hashtags</button>
        <div class="dropdown-content">
            <a href="#">#WorkYourLoveOut</a>
            <a href="#">#CraftYourLove</a>
            <a href="#">#WinTheirLove</a>
            <a href="#">#LoveIsInTheAir</a>
            <a href="#">#WineNotLove</a>
        </div>
    </div>
    </div>
</div>
<div class="fling-minislide">
    <img src="Images/ColumbusLove.jpg" alt="Slide 4"/>
    <img src="Images/ColumbusSkylineNight2.jpg" alt="Slide 3"/>
    <img src="Images/ColumbusMural.jpg" alt="Slide 2"/>
    <img src="Images/ColumbusSkyline.jpg" alt="Slide 1"/>
</div>
<div class="block3"></div>
</div>
</body>
</html>