*{
    font-family: 'Syncopate';
}

.options{
    display: flex;
    flex-direction: row;
    background-color: darkblue;
}

.options li a{
    font-family: 'Syncopate';
    color: white;
    font-size: x-small;
}

h2{
    font-family: 'Syncopate';
    font-size: 10pt;
    margin-top: 50%;
}


form{
    font-family: 'Syncopate';
    background-color: darkblue;
    padding: 10px;
    margin-top: 10px;
}

label{
    color: white;
    font-size: 12pt;
    width: 100%;
    margin-top: 5px;
}
input{
    font-family: 'Syncopate';
    font-size: 12pt;
    width: 100%;
    margin-top: 5px;
}

textarea{
    margin-top: 5px;
    width: 100%;
    max-width: 100%;
    height: 190px;
    max-height: 190px;
}

button {
    font-family: 'Syncopate';
    position: relative;
    padding: 10px;
    margin-left: 35%;
    margin-top: 10px;
}

.caption a{
    text-decoration: none;
}