<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/Home.css"/>
    <link rel="stylesheet" href="/css/NavBar.css"/>
    <link rel="stylesheet" href="/css/slideshow.css"/>
    <link rel="stylesheet" href="/css/gallery.css"/>
    <link rel="stylesheet" href="/css/activities.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet"/>
    <title>614Adventures: Activities</title>
</head>
<body>
<div class="logo">
    <div class="container-logo">
        <img src="/static/Activities/Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png" alt="logo"
             th:src="@{Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png}"/>
    </div>
    <div class="line"></div>
</div>
<div class="mainblock">
    <div class="navBar">
        <ul class="dropdown">
            <li><a class="dropbtn" th:href="@{'/'}">Home</a></li>
            <li><a class="dropbtn" th:href="@{'/activities/'}"><u>Activities</u></a></li>
            <li><a class="dropbtn" th:href="@{'/hashtags/'}">Hashtags</a></li>
        </ul>
        <h2>Add A New Activity Below</h2>
        <form action="/activities/add" method="Post" class="new-activity-form">
            <label for="new-activity__activity-input" class="form_label"></label>
            <input type="text" name="activity" id="new-activity__activity-input" placeholder="New Activity">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="block2">
        <div class="main">
            <div class="gallery">
                <div class="left">
                    <div class="image-box">
                        <a class="overlay" th:href="@{'/activities/Professional%20Sports'}">Professional Sports</a>
                        <div class="image" id="image1"></div>
                    </div>
                    <div class="image-box">
                        <a class="overlay" th:href="@{'/activities/Nature'}">Nature</a>
                        <div class="image" id="image2"></div>
                    </div>
                    <div class="image-box">
                        <a class="overlay" th:href="@{'/activities/Science'}">Science</a>
                        <div class="image" id="image3"></div>
                    </div>
                </div>
                <div class="right">
                    <div class="image-box" >
                        <a class="overlay" th:href="@{'/activities/Theater'}">Theater</a>
                        <div class="image" id="image4"></div>
                    </div>
                    <div class="image-box">
                        <a class="overlay" th:href="@{'/activities/Food'}">Food</a>
                        <div class="image" id="image5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block3"></div>
</div>
<ul class="options">
    <li th:each="activity:${activities}" class="option">
        <a th:text="${activity.name}"
           th:href="@{'/activities/'+${activity.name}}">Activities</a></li>
</ul>
</body>
</html>