<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/Home.css">
    <link rel="stylesheet" href="../static/gallery.css">
    <link rel="stylesheet" href="../static/NavBar.css">
<!--    <link rel="shortcut icon" type="image/png" href="img/favicon.png">-->
    <title>614Adventures Hashtag</title>
</head>
<body>
<div class="logo">
    <div class="container-logo">
        <img src="/static/Hashtags/Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png" alt="logo"
             th:src="@{Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png}"/>
    </div>
    <div class="line"></div>
</div>
<div class="mainblock">
    <div class="navBar">
        <div class="dropdown">
            <ul>
                <li><a class="dropbtn" th:href="@{'/'}">Home</a></li>
                <li><a class="dropbtn" th:href="@{'/activities/'}">Activities</a></li>
                <li><a class="dropbtn" th:href="@{'/hashtags/'}">Hashtags</a></li>
            </ul>
        </div>
    </div>
    <h1 th:text="${hashtag.name}"> name </h1>
    <ul>
        <li th:each="post:${hashtag.posts}">
            <a th:href="@{'/posts/'+${post.title}}"
               th:text="${post.title}"
            >Entertainment</a>
        </li>
    </ul>
</div>

<div class="block2">
    <h2>Add Post</h2>
    <form action="/posts/add" method="POST" class="new-post-form">
        <label for="new-post__post-title-input" class="form__label">
            Title
        </label>
        <input type="text" name="title" id="new-post__post-title-input" autocomplete="off" required>
        <label for="new-post__post-body-input" class="form__label">
            Body
        </label>
        <textarea type="text" name="body" id="new-post__post-body-input"  autocomplete="off" required></textarea>
        <input th:value="${hashtag.id}" type="hidden" name="hashtag" id="new-post__post-hashtag-input">
        <button class="submit" type="submit">Submit</button>
    </form>
</div>
<div class="block3"></div>
</body>
</html>