<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/Home.css"/>
    <link rel="stylesheet" href="/css/NavBar.css"/>
    <link rel="stylesheet" href="/css/slideshow.css"/>
    <link rel="stylesheet" href="/css/gallery.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet"/>
    <title>614Adventures Hashtags</title>
</head>
<body>
<div class="logo">
    <div class="container-logo">
        <img src="/static/Hashtags/Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png" alt="logo"
             th:src="@{Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png}"/>
    </div>
    <div class="line"></div>
</div>
<h1>Hashtags</h1>
<div class="mainblock">
    <div class="navBar">
        <ul class="dropdown">
            <li><a class="dropbtn" th:href="@{'/'}">Home</a></li>
            <li><a class="dropbtn" th:href="@{'/activities/'}">Activities</a></li>
            <li><a class="dropbtn" th:href="@{'/hashtags/'}"><u>Hashtags</u></a></li>
        </ul>
        <ul class="options">
            <li th:each="hashtag:${hashtags}" class="option">
                <a th:text="'#'+${hashtag.name}"
                   th:href="@{'/hashtags/'+${hashtag.name}}">Hashtags</a></li>
        </ul>
        <form action="add" method="Post" class="new-hashtag-form">
            <label for="new-hashtag__hashtag-input" class="form_label">New Hashtag</label>
            <input type="text" name="hashtag" id="new-hashtag__hashtag-input">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="block2">
        <div class="main">
            <div class="gallery">
                <div class="left">
                    <div class="image-box">
                        <a class="overlay">#Animals</a>
                        <div class="image" id="image6"></div>
                    </div>
                    <div class="image-box">
                        <a class="overlay">#Artist</a>
                        <div class="image" id="image7"></div>
                    </div>
                    <div class="image-box">
                        <a class="overlay">#Sports</a>
                        <div class="image" id="image8"></div>
                    </div>
                </div>
                <div class="right">
                    <div class="image-box">
                        <a class="overlay">#Neature</a>
                        <div class="image" id="image9"></div>
                    </div>
                    <div class="image-box">
                        <a class="overlay">#Food&Drink</a>
                        <div class="image" id="image10"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block3"></div>
</div>
</body>
</html>