<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/Home.css"/>
    <link rel="stylesheet" href="/css/NavBar.css"/>
    <link rel="stylesheet" href="/css/slideshow.css"/>
    <link rel="stylesheet" href="/css/gallery.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet"/>
    <title th:text="'#'+${hashtag.name}">614Adventures Hashtag</title>
</head>
<body>
<div class="logo">
    <div class="container-logo">
        <img src="/static/Hashtags/Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png" alt="logo"
             th:src="@{Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png}"/>
    </div>
    <div class="line"></div>
</div>
<h1 th:text="'#'+${hashtag.name}"> name </h1>
<div class="mainblock">
    <div class="navBar">
        <ul class="dropdown">
            <li><a class="dropbtn" th:href="@{'/'}">Home</a></li>
            <li><a class="dropbtn" th:href="@{'/activities/'}">Activities</a></li>
            <li><a class="dropbtn" th:href="@{'/hashtags/'}">Hashtags</a></li>
        </ul>
        <ul class="options">
            <li th:each="post:${hashtag.posts}" class="option">
                <a th:href="@{'/posts/'+${post.title}}"
                   th:text="${post.title}"
                >Entertainment</a>
            </li>
        </ul>
        <h3 class="option">Add Post</h3>
        <form action="/hashtags/posts/add" method="POST" class="new-post-form">
            <label for="new-post__post-title-input" class="form__label">Title</label>
            <input type="text" name="title" id="new-post__post-title-input" autocomplete="off" required>
            <label for="new-post__post-body-input" class="form__label">Body</label>
            <textarea type="text" name="body" id="new-post__post-body-input" autocomplete="off" required></textarea>
            <label for="new-post__post-author-input" class="form__label">Author</label>
            <input type="text" name="author" id="new-post__post-author-input" autocomplete="off" required>
            <label for="new-post__post-activity-input" class="form__label">Activity</label>
            <input type="text" name="activity" id="new-post__post-activity-input" autocomplete="off" required>
            <input th:value="${hashtag.id}" type="hidden" name="hashtag" id="new-post__post-hashtag-input">
            <button class="submit" type="submit">Submit</button>
        </form>
    </div>
    <div class="block2">
    </div>
    <div class="block3"></div>
</div>
</body>
</html>