<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./css/Home.css"/>
    <link rel="stylesheet" href="./css/NavBar.css"/>
    <link rel="stylesheet" href="./css/slideshow.css"/>
    <link rel="stylesheet" href="./css/gallery.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet"/>
    <title>614Adventures</title>
</head>
<body>
<div class="logo">
    <div class="container-logo">
        <img src="/static/Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png" alt="logo"
             th:src="@{Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png}"/>
    </div>
    <div class="line"></div>
</div>
<div class="mainblock">
    <div class="navBar">
        <ul class="dropdown">
            <li><a class="dropbtn" th:href="@{'/'}"><u>Home</u></a></li>
            <li><a class="dropbtn" th:href="@{'/activities/'}">Activities</a></li>
            <li><a class="dropbtn" th:href="@{'/hashtags/'}">Hashtags</a></li>
        </ul>
    </div>
    <div class="block2">
        <div class="fling-minislide">
            <img src="./Images/ColumbusLove.jpg" alt="Slide 4" th:src="@{Images/ColumbusLove.jpg}"/>
            <img src="./Images/ColumbusSkylineNight2.jpg" alt="Slide 3" th:src="@{Images/ColumbusSkylineNight2.jpg}"/>
            <img src="./Images/ColumbusMural.jpg" alt="Slide 2" th:src="@{Images/ColumbusMural.jpg}"/>
            <img src="./Images/ColumbusSkyline.jpg" alt="Slide 1" th:src="@{Images/ColumbusSkyline.jpg}"/>
        </div>
    </div>
    <div class="block3"></div>
</div>
</body>
</html>