<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/NavBar.css"/>
    <link rel="stylesheet" href="/css/gallery.css"/>
    <link rel="stylesheet" href="/css/posts.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet"/>
    <title th:text="${post.title}">614Adventures Post</title>
</head>
<body>
<div class="logo">
    <div class="container-logo">
        <img src="/static/Posts/Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png" alt="logo"
             th:src="@{Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png}"/>
    </div>
    <div class="line"></div>
</div>
<div class="mainblock">
    <div class="navBar">
        <ul class="dropdown">
            <li><a class="dropbtn" th:href="@{'/'}">Home</a></li>
            <li><a class="dropbtn" th:href="@{'/activities/'}">Activities</a></li>
            <li><a class="dropbtn" th:href="@{'/hashtags/'}">Hashtags</a></li>
            <li><a class="dropbtn" th:text="${post.activity.name}"
                                   th:href="@{'/activities/'+${post.activity.name}}">Activity</a></li>
        </ul>
    </div>
    <div class="block2">
        <ul>
            <div class="postImage">
                <img height="300" th:src="@{'/Images/' + ${post.title} + '.jpg'}"/>
            </div>
            <li><p th:text="${post.body}">Description</p></li>
            <li><h4 th:text="'By: '+${post.authors.name}">Author</h4></li>
            <li><p th:text="'Date: '+${post.date}">Date</p></li>
            <li><p th:text="'Time: '+${post.time}">Time</p></li>
            <ul class="hashtags">
                <li class="hashtag" th:each="hashtag:${post.hashtags}">
                    <a th:text="'#'+ ${hashtag.name}" th:href="@{'/hashtags/'+${hashtag.name}}"></a>
                </li>
            </ul>
            <form action="/posts/hashtags/add" method="POST" class="new-hashtag-form">
                <input type="hidden" th:value="${post.id}" name="id" id="new-post__post-id-input">
                <label for="new-hashtag__hashtag-input" class="form__label"></label>
                <input type="text" name="hashtag" class="new-hashtag" id="new-hashtag__hashtag-input" placeholder="Add New Hashtag">
                <button type="submit">Submit</button>
            </form>
        </ul>
    </div>
</div>
<div class="options">
    <h3 th:text="${post.title}"> name </h3>
</div>
</body>
</html>