<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/Home.css">
    <link rel="stylesheet" href="../static/gallery.css">
    <link rel="stylesheet" href="../static/NavBar.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <title>614Adventures Post</title>
</head>
<body>
<div class="logo">
    <div class="container-logo">
        <img src="/static/Posts/Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png" alt="logo"
             th:src="@{Images/Inverted%20Columbus%20Skyline%20Logo%20with%20Name.png}"/>
    </div>
    <div class="line"></div>
</div>
<h1 th:text="${post.title}"> title </h1>
<div class="mainblock">
    <div class="navBar">
        <div class="dropdown">
            <ul>
                <li><a class="dropbtn" th:href="@{'/'}">Home</a></li>
                <li><a class="dropbtn" th:href="@{'/activities/'}">Activities</a></li>
                <li><a th:text="${post.activity.name}" th:href="@{'/activities/'+${post.activity.name}}">Activities</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="block2">
    <section>
        <h1 th:text="${post.title}">Ohio Theater</h1>
        <h2 th:text="${post.body}">Description</h2>
        <h3 th:text="${post.activity.name}">Activity Type</h3>
        <h3 th:text="${post.authors.name}">Author</h3>
        <p th:text="${post.date}">Date</p>
        <p th:text="${post.time}">Time</p>
    </section>
        <ul>
            <li th:each="hashtag:${post.hashtags}">
                <a th:text="'#'+ ${hashtag.name}" th:href="@{'/tags/'+${hashtag.name}}"></a>
            </li>
        </ul>
</div>
<section>
    <form action="/posts/hashtags/add" method="POST" class="new-hashtag-form">
        <input type="hidden" th:value="${post.id}" name="id" id="new-post__post-id-input">
        <label for="new-hashtag__hashtag-input" class="form__label">Add Hashtag #</label>
        <input type="text" name="hashtag" id="new-hashtag__hashtag-input">
        <button type="submit">Submit</button>
    </form>
</section>
</body>
</html>